<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de CEP</title>
    <link rel="stylesheet" href="../static/src/output.css">
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
</head>

<body class="bg-gray-950">

    <main class="main">
        <div class="container">
            <div class="dados my-5">
                <h1 class="text-3xl text-green-50 font-bold mb-5">Buscador de CEP</h1>

                <div class="flex flex-col gap-3 w-full max-w-[700px]">
                    <input type="text" id="cep" placeholder="Digite o CEP (ex: 01001000)" class="js-input-cep bg-green-50 p-[5px] rounded font-medium transition">
                    <button class="js-btn-resultado text-green-50 bg-gray-700 p-[5px] rounded font-medium cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-950 transition delay-150 duration-300" disabled>Consultar</button>
                </div>
            </div>

            <code class="js-resultado flex flex-col gap-2 rounded p-[5px] bg-gray-300 hidden"></code>
        </div>
    </main>

    <script defer src="../static/js/main.js"></script>
</body>

</html>