@import "tailwindcss";

.container {
    @apply mx-auto pl-[15px] pr-[15px];
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: auto;
}
